@import url(https://fonts.googleapis.com/css?family=Ubuntu:300,300italic,regular,italic,500,500italic,700,700italic);

body {
  margin: 0 auto;
  background-color: antiquewhite;
  font-family: "Ubuntu", "sans-serif";
}

button {
  color: blue;
  background-color: aquamarine;
}

/* div {
  border: 1px solid salmon;
} */

.not-found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: red;
}
